<% layout('client/layouts/main') -%>
<h1 class="display-1 mb-5 fw-medium text-center">Blog</h1>
<div class="row text-center">
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
  <div class="col-lg-4">
    <a class="d-block mb-5 rounded-3" href="/blog/post">
      <img class="mb-3 img-fluid rounded-3" src="https://picsum.photos/536/354" alt="" loading="lazy">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </a>
  </div>
</div>